@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Static/Easyui/themes/bootstrap/easyui.css" rel="stylesheet" />
    @*<link href="~/Static/easyui/themes/default/easyui.css" rel="stylesheet" />*@
    <link href="~/Static/easyui/themes/icon.css" rel="stylesheet" />
    <script src="~/Static/easyui/jquery.min.js"></script>
    <script src="~/Static/easyui/jquery.easyui.min.js"></script>
    <script>
        function func(obj, f) {
            $(obj).window(f);
        }
        function serializeForm(pms) {
            var _result = "";
            var Enable = 0;
            if (!$("#txtIsHide").is(':checked')) {
                Enable = 1;
            }
            var _value = $("#fm").serialize();
            if (pms == "add") {
                _result = $.param({ Enable: Enable }) + "&" + _value;
            }
            else {
                var _id = $('#dg').datagrid('getSelections')[0].id;
                _result = $.param({ menuId: _id, txtIsHide: Enable }) + "&" + _value;
            }
            _result;
            return _result;
        }
        function options(p, value) {
            //新增弹出窗口
            if (p == 1) {
                func("#dv", 'open');
            }
            else {
                if (p == 4) {//提交表单
                    var _nameObj = $("input[name=txtName]");
                    var _nameValue = _nameObj.val();
                    if (_nameValue == "") {
                        _nameObj.validatebox({
                            required: true
                        });
                        return;
                    }
                    var _desObj = $("input[name=txtDesc]");
                    var _desValue = _desObj.val();
                    var _urlObj = $("input[name=txtUrl]");
                    var _urlValue = _urlObj.val();
                    var _parentIdObj = $("#selMenu option:selected");
                    var _parentIdValue = _parentIdObj.val();
                    if (value == "update") {
                        $.ajax({
                            url: '@Url.Action("UpdateMenu")',
                            method: 'POST',
                            dataType: 'JSON',
                            data: serializeForm(),
                            success: function (notify) {
                                if (notify.Status == 200) {
                                    func("#dv", 'close');
                                    window.location.reload();
                                }
                                else {
                                    alert(notify.Message);
                                }
                            }
                        });
                    }
                    else {
                        $.ajax({
                            url: '@Url.Action("AddMenu")',
                            method: 'POST',
                            dataType: 'JSON',
                            data: serializeForm("add"),
                            success: function (notify) {
                                if (notify.Status == 200) {
                                    func("#dv", 'close');
                                    window.location.reload();
                                }
                                else {
                                    alert(notify.Message);
                                }
                            }
                        });
                    }
                }
                return;
                var rows = $('#dg').datagrid('getSelections');
                if (rows.length != 1) {
                    $.messager.alert("提示", "请选择一条记录", "error");
                    return;
                }
                if (p == 2) {//删除
                    if (!confirm("确定删除吗？")) {
                        return;
                    }
                    var rows = $('#dg').datagrid('getSelections');
                    if (rows.length != 1) {
                        $.messager.alert("提示", "请选择一条记录", "error");
                        return;
                    }
                    var _menuId = rows[0].id;
                    $.ajax({
                        url: '@Url.Action("DeleteMenu")',
                        method: 'POST',
                        dataType: 'JSON',
                        data: { menuId: _menuId },
                        success: function (notify) {
                            if (notify.Status == 200) {
                                window.location.reload();
                            }
                            else {
                                alert(notify.Message);
                            }
                        }
                    });
                }
                    //修改
                else if (p == 3) {
                    $("input[name=txtHidden]").val('update');
                    func($('#dv'), 'open');
                    $("input[name=txtName]").val(rows[0].text);
                    $("input[name=txtDesc]").val(rows[0].desc);
                    $("input[name=txtUrl]").val(rows[0].url);
                    $("input[name=txtIsHide]").val(rows[0].Enable);
                }
            }
        }
        function loadLevelMenu() {
            $.post('@Url.Action("GetMenu")', { userName: 'admin' }, function (data) {
                var _pLength = data.length;
                var html = "<option value='0'>---顶级目录---</option>";
                for (var i = 0; i < _pLength; i++) {
                    html += "<option value='" + data[i].id + "'>" + data[i].text + "</option>";
                    var _sLength = data[i].children.length;
                    for (var j = 0; j < _sLength ; j++) {
                        html += "<option value='" + data[i].children[j].id + "'>" + '&nbsp;&nbsp;' + data[i].children[j].text + "</option>";
                    }
                }
                $("#selMenu").append(html);
            })
        }
        $(function () {
            loadLevelMenu();
            $('#dg').treegrid({
                url: '@Url.Action("LoadMenu", "SysMenu", new { userName="admin"})',
                rownumbers: true,
                treeField: 'text',
                fit: true,
                methord: 'get',
                fitColumns: true, //列自适应
                nowrap: false,
                idField: 'id',//主键列的列明
                loadMsg: '正在加载菜单信息...',
                pagination: true,//是否有分页
                singleSelect: false,//是否单行选择
                pageSize: 5,//页大小，一页多少条数据
                pageNumber: 1,//当前页，默认的
                pageList: [5, 10, 15],
                queryParams: {},//往后台传递参数
                columns: [[
                    { field: 'id', checkbox: true, align: 'left', width: 50 },
                    { field: 'text', title: '菜单名', width: 80 },
                    { field: 'url', title: '菜单地址', width: 120 },
                    { field: 'desc', title: '描述', width: 120 },
                    { field: 'icon', title: '图标', width: 120 },
                    { field: 'Enable', title: '是否可用', width: 120 },
                ]],
                toolbar: [{
                    id: 'btnAdd',
                    text: '添加',
                    iconCls: 'icon-add',
                    handler: function () {
                        options(1);
                    }
                }, {
                    id: 'btnDelete',
                    text: '删除',
                    iconCls: 'icon-remove',
                    handler: function () {
                        options(2);
                    }
                }, {
                    id: 'btnEdit',
                    text: '编辑',
                    iconCls: 'icon-edit',
                    handler: function () {
                        options(3);
                    }
                }],
            });
        })
    </script>
    <style>
        * {
    font-size: 13px;
}

/*body {
    background: #D2E0F2;
}*/

.tableForm {
    border-collapse: collapse;
}

    .tableForm th {
        text-align: right;
        border: 1px solid #ccc;
        padding: 3px;
        background-color: #F5F5F5;
        height: 25px;
    }

    .tableForm td {
        text-align: left;
        border: 1px solid #ccc;
        padding: 3px;
        background-color: white;
        height: 25px;
    }

    </style>
</head>
<body>
    <table id="dg"></table>
    @*<div id="dv" class="easyui-window" title="Modal Window" data-options="modal:true,closed:true,iconCls:'icon-save'" style="width:400px;height:400px;padding:10px;">
        <form id="fm" style="padding:10px 20px 10px 40px;">
            <p>菜单名称：<input type="text" name="txtName"></p>
            <p>菜单地址：<input type="text" name="txtUrl"></p>
            <p>菜单描述：<input type="text" name="txtDesc"></p>
            <p><label>是否可用：<input type="checkbox" id="txtIsHide" name="txtIsHide" checked="checked"></label></p>
            <p>上级菜单：<select name="txtParentId" id="selMenu"></select></p>
            <div style="padding:5px;text-align:center;">
                <a href="#" onclick="options(4,$('input[name=txtHidden]').val())" class=" easyui-linkbutton" icon="icon-ok">确定</a>
                @*<a href="#" onclick="javascript: self.close();" class="easyui-linkbutton" icon="icon-cancel">Cancel</a>
            </div>
            <select id="comboxMenuIconTree" name="comboxMenuIconTree" class="easyui-combotree" data-options="url:'@Url.Action("GetIcons","SysIcon")',editable:false,valueField:'id',textField:'text',multiple:false" style="width:170px;height:22px;"></select>
            <img style="cursor: pointer; vertical-align: middle;" onclick="$('#comboxMenuIconTree').combotree('clear');"
                 alt="清空图标" title="清空图标" src="../Content/themes/icon/edit-clear.png" />
            <input type="hidden" name="txtHidden" value="add" />
        </form>
    </div>*@

    <div id="dv" class="easyui-window" style="padding: 15px; title=" modal window" overflow hidden" data-options="modal:true,closed:true,iconCls:'icon-save'">
        @*<div id="dv" class="easyui-dialog" style="padding: 15px; overflow: hidden">*@
        <form id="MenuAddForm" method="post" action="">
            <table class="tableForm" width="100%">
                <tr>
                    <th>
                        菜单名称：
                    </th>
                    <td>
                        <input type="text" name="txtMenuName" id="txtMenuName" class="easyui-validatebox textbox"
                               data-options="required:true,validType:'length[2,20]'" style="width:170px;height:22px;" />
                    </td>
                </tr>
                <tr>
                    <th>
                        父节点：
                    </th>
                    <td>
                        <input class="easyui-combotree" id="treeMenuParentId" name="treeMenuParentId"
                               data-options="url: '/Menu/GetAllMenuTree',lines:true" style="width:170px;height:22px;" />
                        <img style="cursor: pointer; vertical-align: middle;" onclick="$('#treeMenuParentId').combotree('clear');"
                             alt="清空父节点" title="清空父节点" src="../Content/themes/icon/edit-clear.png" />
                    </td>
                </tr>
                <tr>
                    <th>
                        标识码：
                    </th>
                    <td>
                        <input type="text" name="txtMenuCode" id="txtMenuCode" class="easyui-validatebox textbox"
                               data-options="required:false,validType:'length[2,40]'" style="width:170px;height:22px;" />
                    </td>
                </tr>

                <tr>
                    <th>
                        链接地址：
                    </th>
                    <td>
                        <input type="text" name="txtMenuLinkAddress" id="txtMenuLinkAddress" class="easyui-validatebox textbox"
                               data-options="required:false,validType:'length[2,40]'" style="width:170px;height:22px;" />
                    </td>
                </tr>
                @*<tr>
                        <th>
                            图标：
                        </th>
                        <td>
                            <input type="text" name="txtMenuIcon" id="txtMenuIcon" class="easyui-validatebox textbox"
                                   data-options="required:false,validType:'length[2,40]'" style="width:170px;height:22px;" />
                        </td>
                    </tr>*@
                <tr>
                    <th>
                        图标：
                    </th>
                    <td>
                        <select id="comboxMenuIconTree" name="comboxMenuIconTree" class="easyui-combotree" data-options="url:'@Url.Action("GetIcons","SysIcon")',editable:false,valueField:'id',textField:'text',multiple:false" style="width:170px;height:22px;"></select>
                        <img style="cursor: pointer; vertical-align: middle;" onclick="$('#comboxMenuIconTree').combotree('clear');"
                             alt="清空图标" title="清空图标" src="../Content/themes/icon/edit-clear.png" />
                    </td>
                </tr>
                <tr>
                    <th>
                        排序：
                    </th>
                    <td>
                        <input type="number" name="txtMenuSort" id="txtMenuSort" value="1" class="easyui-numberspinner"
                               data-options="min:1,max:100,editable:false" autocomplete="off" style="width:70px;height:22px;" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>